
<html >
<head>
  <title>AngularD3Application</title>
  <script type="text/javascript" src="resource/js/angular.js"></script>
  <script type="text/javascript" src="resource/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="resource/js/d3.min.js"></script>
  <script type="text/javascript" src="resource/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="resource/css/bootstrap.min.css">

  <script type="text/javascript" src="resource/js/learningAngular.js"></script>
  <link rel="stylesheet" type="text/css" href="resource/css/AngularD3.css">

</head>
<body ng-app="myModule">

  <div ng-controller="ControllerZero">
    <input ng-model="message" >
  </div>

  <div ng-controller="ControllerOne">
    <input ng-model="message" >
  </div>

  <div ng-controller="ControllerTwo">
    <input ng-model="message" >
  </div>

</body>
</html>
